
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1508253730651-e5ace80a7025?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  <div class="container">
    <h1>Make your own Cocktail of Change</h1>

      <br>

  </div>
</div>
<br>
<br>

<%= simple_form_for(@cocktail) do |f| %>
<%= f.input :name, label: "Name for your cocktail"%>
<%= f.input :description, label: "How's it special:"%>
<%= f.input :photo %>
<%= f.input :photo_cache, as: :hidden %>
<%= f.submit "Add in your bar" %>
<% end %>
