




<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://news-cdn.softpedia.com/images/news2/artist-sylvia-ritter-painted-all-25-ubuntu-linux-mascots-and-they-re-astonishing-507549-20.jpg);">
  <div class="container">
    <h1> <strong> Bar of Change</strong> <h1>
      <br>
      <p>WOOD - FIRE - EARTH - GOLD - WATER</p>
  </div>
</div>

<div class="container my-5 w-80">
  <div class="card-product justify-content-between pr-3">
    <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>

    <div class="card-product-infos">
      <h2><%= @cocktail.name %></h2>
      <p> <strong>  <%= @cocktail.description %></strong></p>
    </div>

    <ul class="list-group-item">
      <% @cocktail.ingredients.each do |ingredient| %>
        <li class="list-group-item">
        <%= ingredient.name %>
          <% ingredient.doses.each do |dose| %>
              <%= dose.description %>
              <%= link_to dose_path(dose), method: :delete, data: {confirm: "are your sure?"} do %>
              <i class = "fa fa-trash destroy_dose"></i>
              <% end %>
          <% end %>
        <% end %>
        </li>
       <br>
      <%= link_to "More", new_cocktail_dose_path(@cocktail.id)  %> |
      <%= link_to "Back", cocktails_path %>
    </ul>
  </div>
</div>











