

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1514362545857-3bc16c4c7d1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  <div class="container">
    <h1> <strong> <%=@cocktail.name %></strong> <h1>
      <br>
      <p>Pub 333 Special</p>
  </div>
</div>

<div>
  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
</div>






<ul>

<% @cocktail.ingredients.each do |ingredient| %>
<li>
<%= ingredient.name %>
<% ingredient.doses.each do |dose| %>
<%= dose.description %>
<%= link_to "delete", dose_path(dose), method: :delete %>
<% end %>
<% end %>
</li>

</ul>


<br>
<%= link_to "new dose", new_cocktail_dose_path(@cocktail.id)  %> |
<%= link_to "back to Bar K", cocktails_path %>
